<div class="messages">

  <ul>
    {{#each @message as |message|}}
      <Message>
        {{this.message.content}}
      </Message>
    {{/each}}
  </ul>

  <NewMessageInput @onCreate={{this.addMessage}} />
</div>