<div class="input-box">
  <Input id="input-message" @value={{this.messageText}}/>
  <button type="button" {{on "click" this.addMessage}}>
    Send
  </button>
<p></p>
  <button type="button" {{on "click" this.setUsername}}>
    Set a New Username
  </button>
</div>