<h2>index.hbs</h2>
<div class="messages">
  <ul>
    {{#each @model as |message|}}
      <Message @message={{message}} />
    {{/each}}
  </ul>
</div>
<NewMessageInput @onCreate={{this.addMessage}} />
